body {
  margin: 0;
  background-color: lightcoral;
}

.App {
  position: relative;
  font-family: sans-serif;
  text-align: center;
}

.note {
  background-color: white;
  border-radius: 4px;
  margin: 8px;
  width: 128px;
  height: 128px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  transition: left 0.1s, top 0.1s, right 0.1s, box-shadow 0.2s;
  touch-action: none;
}

.note p {
  margin: 0;
  padding: 12px;
}

.note:hover {
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.hoverable:hover {
  /* Not hoverable while dragging. Because of bug */
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.ghost {
  box-shadow: 0px 3px 26px 0px rgba(0, 0, 0, 0.3);
  touch-action: none;
}
